.page {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family-main);
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 0.825;
  font-weight: 700;
  align-self: center;
}

.title-decor {
  color: var(--background-color);
  font-size: var(--font-size-main);
  font-weight: 700;
  line-height: 1.3;
  background-color: var(--accent-color);
  display: inline-block;
  width: 100%;
}

.title-decor_reg {
  font-weight: 400;
}

.header {
  position: relative;
  padding-top: var(--gap-outside);
  min-height: 668px;
  height: 100vh;
  margin-block-end: 3.7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
}

.header,
.section,
.footer {
  padding-left: var(--gap-outside);
  padding-right: var(--gap-outside);
}

.header__theme-menu {
  grid-column: 1 / -1;
  justify-self: center;
}

.header__title {
  grid-column: 1 / -1;
  padding-block-end: 1rem;
  margin-inline-start: -1.2rem;
}

.title-decor__wrapper {
  grid-column: 2 / -1;
  margin-block-start: 2.8rem;
}

.decor {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.decor::after {
  content: 'rec';
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  top: 1.35rem;
  right: 3.1rem;
}

.decor::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  top: 1.8rem;
  right: 1.9rem;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  gap: var(--gap-inside);
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 2px 13px 4px;
  line-height: 1;
  text-transform: lowercase;
  color: var(--accent-color);
  text-align: center;
  font-size: var(--font-size-main);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-outline);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--gap-outside);
  right: var(--gap-outside);
  width: 1.563rem;
  height: 1.563rem;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--gap-outside);
  left: var(--gap-outside);
  width: 1.563rem;
  height: 1.563rem;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-outside);
  margin-block-end: 5rem;
}

.section:last-child {
  margin-block-end: 3.8rem;
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: var(--gap-inside);
}

.section__title {
  color: var(--accent-color);
  font-size: var(--font-size-main);
  font-weight: 700;
  line-height: 1.3;
}

.section__text {
  line-height: 1.3;
  font-size: var(--font-size-main);
}

.section__link {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--font-size-main);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-weight: 400;
}

.section__link:focus {
  outline: none;
}

.section__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.causes .section__title {
  grid-row: 1 / -1;
}

.causes .section__article {
  grid-column: 2 / -1;
}

.reasons .section__title {
  grid-column: 1 / -1;
  max-width: 315px;
}

.lifehacks .section__title {
  grid-row: 1 / -3;
}

.lifehacks .title-decor,
.lifehacks .section__article {
  grid-column: 2 / -1;
}

.visual {
  width: 100%;
  grid-template-areas: 
  'title-decor title-decor title-decor'
  'first first fifth'
  'second third fifth'
  'second fourth fourth';
}

.visual .title-decor {
  grid-area: title-decor;
}

.visual__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.visual .visual__image:nth-of-type(1) {
  grid-area: first;
}

.visual .visual__image:nth-of-type(2) {
  grid-area: second;
}

.visual .visual__image:nth-of-type(3) {
  grid-area: third;
}

.visual .visual__image:nth-of-type(4) {
  grid-area: fourth;
}

.visual .visual__image:nth-of-type(5) {
  grid-area: fifth;
}

.footer {
  position: relative;
  padding-bottom: var(--gap-outside);
  min-height: 668px;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.footer__title {
  padding-block-start: 0.7rem;
}

@media (768px <= width < 1024px) {
  .header .header__theme-menu {
    justify-self: end;
    align-self: center;
    margin-block-start: 6.5rem;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 0.7rem;
  }

  .header .title-decor__wrapper {
    margin-block-start: 2.2rem;
  }

  .causes {
    grid-template-columns: 1.05fr 1fr 1fr;
  }

  .reasons .section__title {
    grid-column: 1 / -1;
    max-width: 236px;
  }

  .reasons .section__article {
    grid-column: 1 / -1;
  }

  .lifehacks {
    grid-template-columns: 1.05fr 1fr 1fr;
  }
}

@media (width < 768px) {

  .header {
    padding: var(--gap-inside);
    grid-template-columns: 1fr;
    margin-block-end: 2.5rem;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
    padding-block-start: 0.8rem;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 0.8rem;
  }

  .header .title-decor__wrapper {
    grid-column: 1 / -1;
  }
  
  .header__title {
    margin-inline-start: 0rem;
    margin-block-start: 0.7rem;
  }

  .decorated-zone::before {
    top: var(--gap-inside);
    right: var(--gap-inside);
  }
  
  .decorated-zone::after {
    bottom: var(--gap-inside);
    left: var(--gap-inside);
  }

  .decor::after {
    top: 0.8rem;
    right: 2.5rem;
  }
  
  .decor::before {
    top: 1.2rem;
    right: 1.2rem;
  }

  .main__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .section {
    padding-left: var(--gap-inside);
    padding-right: var(--gap-inside);
    grid-template-columns: 1fr;
    margin-block-end: 3.1rem;
  }
  
  .section:last-child {
    margin-block-end: 2.6rem;
  }

  .causes .section__title {
    grid-row: 1 / -1;
  }
  
  .causes .section__article {
    grid-column: 1 / -1;
  }
  
  .reasons .section__title {
    grid-column: 1 / -1;
    max-width: 100%;
  }
  
  .lifehacks .section__title {
    grid-row: 1 / 2;
  }
  
  .lifehacks .title-decor,
  .lifehacks .section__article {
    grid-column: 1 / -1;
  }
  
  .visual {
    gap: var(--gap-inside);
    grid-template-areas:
    'title-decor'
    'first'
    'fifth'
    'second'
    'third'
    'fourth';
  }

  .footer {
    padding-bottom: var(--gap-inside);
  }
}